body {
    overflow-x: hidden;
    font-size: 14px;
}

.main-container {
    border-radius: 3px;
    margin: 40px auto 0;
    padding: 20px 40px 70px;
    width: 650px;
    background-color: #363636;
}

.title {
    font-size: 21px;
}

.sub-title {
    font-size: 18px;
}

.option {
    border-radius: 3px;
    margin-top: 40px;
}

.option-name {
    float: left;
    font-weight: bold;
    width: 150px;
}

.option-value {
    float: left;
    width: 100%;
}

select {
    font-size: 14px;
    border-radius: .25rem;
}

#theme-selector {
    width: 100%;
}