body {
    height: 514px;
    width: 450px;
    overflow-x: hidden;
    font-size: 14px;

    background-color: #181818;
    color: #cacaca;
    /*background-color: #F1F1F1;*/
    /*background-color: #FFFFFF;*/
}

#main-container {
    padding: 0;
}

/*#crete-new-tab-box-button {*/
/*width: 100%;*/
/*}*/

.btn {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 14px;

    background-color: #FFA31A;
}

i {
    /*color: gray;*/
    color: #FFA31A;
}

.tab-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin: 0;

    background-color: #363636;

    border-top: 1px solid #181818;
    border-radius: .25rem;
}

.boxes-controls {
    /*border-bottom: 1px solid black;*/
}

.box-controls {
    min-width: 50px;
    display: flex;
    justify-content: space-between;
}

.box-name {
    width: 100%;
}

.ttt {
    padding: .375rem 0 .375rem 0;
}

.tab {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin: 0;

    /*border-bottom: 1px dotted black;*/
}

.tab-controls {
    min-width: 20px;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    /*border: 1px solid black;*/
    border: 1px solid #181818;
    background-color: #181818;
    color: #cacaca;
    font-size: 14px;
}

input[type="text"]:focus {
    /*border: 1px solid #363636;*/
    background-color: #181818;
    color: #cacaca;
}

#search-input {
    border: 1px solid #363636;
}