body {
    height: 514px;
    width: 260px;
    overflow-x: hidden;
    font-size: 14px;

    /*background-color: #F1F1F1;*/
    background-color: #181818;
}

#main-container {
    padding: 0;
}

/*#crete-new-tab-box-button {*/
/*width: 100%;*/
/*}*/

.btn {
    /*background-color: #F1F1F1;*/
    /*background-color: #fff;*/

    border: 1px solid black;
    /*color: black;*/

    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 14px;

    background-color: #FFA31A;
    color: #1B1B1B;
}