body {
    height: 596px;
    width: 450px;
    overflow-x: hidden;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

/*To fix bootstrap modal right padding*/
body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}

/*To fix bootstrap modal right padding*/
.modal-scrollbar-measure {
    overflow: hidden;
}

#main-container {
    padding: 0;
    justify-content: space-between;
    height: 590px;
}

.tab-title {
    width: 83%;
}

#create-new-box-button {
    width: auto;
    flex-grow: 1;
}

#put-opened-tabs-to-new-box-button {
    width: auto;
    flex-grow: 1;
}

.box-header {
    width: 100%;
    margin: 0;
}

.box-controls {
    /*min-width: 50px;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box-name {
    width: auto;
}

.boxes-controls {
    justify-content: space-between;
}

#open-options-button {
    width: auto;
    /*width: 11%;*/
}

#collapse-all-boxes-button {
    width: 45px;
}

#expand-all-boxes-button {
    width: 45px;
}

.tab {
    border-bottom: 1px solid black;
}

.tab-controls {
    min-width: 15px;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    font-size: 14px;
}

.modal-dialog {
    top: 50%;
    transform: translate(0, -50%) !important;
}

.modal-content {
    font-size: 14px;
}

.box-content {
    /*margin-bottom: 5px;*/
}

.tab-favicon {
    width: 16px;
}

.tab-favicon img {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    border-radius: 60px;
    /*padding: 0.2em 0.2em;*/
}

.search-boxes {
    flex: 1;
}

.box-tabs-count {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box {
}

.mCSB_inside > .mCSB_container {
    margin-right: 14px !important;
}

#box-name {
    font-weight: bold;
}

.field-name {
    width: 60px;
}

#tab-title {
    font-weight: bold;
}
