body {
    font-size: 14px;
}

.porn-hub {
    /*background-color: hsl(0, 0%, 7%);*/
    /*background-color: #fff;*/
    background-color: #181818;
}

.porn-hub #tabs-box-name-input {
    /*background-color: hsl(0, 0%, 7%);*/
    /*color: hsl(0, 0%, 53.3%);*/
}

.tab {
    width: 204px;
    height: 128px;
    display: inline-block;
    border: 1px solid #ced4da;
}

.porn-hub .tab {
    background-color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.tab-favicon {
    /*width: 16px;*/
    /*height: 16px;*/
    /*display: inline-block;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
    /*margin-left: 5px;*/
    /*float: left;*/
}

.tab-close {
    padding: 4px;
    padding-top: 3px;
}

.porn-hub .tab-close-button {
    /*float: none;*/
}

.tab-favicon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    /*width: 100%;*/
    /*height: auto;*/
    width: 16px;
    height: 16px;
}

.tab-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab-thumb {
}

.tab-thumb img {
    display: block;
    width: 100%;
    height: auto;
}

.btn {
    font-size: 14px;
}

.porn-hub .btn {
    background-color: #FFA31A;
    color: #1B1B1B;
}

#control-buttons {
    max-width: 245px;
    padding: 0;

    display: flex;
}

#tabs-search-container {
    /*left: 260px;*/
    margin: 0;
    padding: 0;
    width: 100%;
}

/*#control-container {*/
/*background-color: #FAFAFA;*/
/*}*/

/*#box-container {*/
/*background-color: #FAFAFA;*/
/*}*/

#controls-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}

input[type="text"] {
    font-size: 14px;
}

.porn-hub input[type="text"] {
    border: 1px solid #363636;
    background-color: #363636;
    color: #cacaca;
}

.porn-hub input[type="text"]:focus {
    background-color: #363636;
    color: #cacaca;
}

.porn-hub .tab-title-container {
    background-color: #363636;
    color: #cacaca;
}

img {
    max-width: 100%;
    max-height: 100%;
}