.porn-hub {
    background-color: #181818;
    color: #cacaca;
}

.porn-hub .btn {
    background-color: #f90;
    border: 2px solid #f90;
}

.porn-hub .btn:focus {
    border: 2px solid #c56d00;
}

.porn-hub .btn:focus-within {
}

.porn-hub .btn:hover {
    background-color: #c56d00;
    border: 2px solid #c56d00;
}

.porn-hub .btn:active {
    border: 2px solid #995c00;
    background-color: #995c00;
}

.porn-hub .tab-button {
    color: #f90;
}

.porn-hub .tab-button:hover {
    color: #c56d00;
}

.porn-hub .box-button {
    color: #f90;
}

.porn-hub .box-button:hover {
    color: #c56d00;
}

.porn-hub .box-header {
    background-color: #363636;
    border-top: 1px solid #181818;
    border-radius: .25rem;
}

.porn-hub .boxes-controls {
}

.porn-hub input[type="text"] {
    border: 1px solid #555;
    background-color: #181818;
    color: #cacaca;
}

.porn-hub input[type="text"]:focus {
    background-color: #181818;
    color: #cacaca;
    border: 1px solid #555;
    box-shadow: 0 0 5px #555;
}

.porn-hub .modal-content {
    background-color: #181818;
    color: #cacaca;
}

.porn-hub .modal-footer {
    border-top: 1px solid #555;
}

.porn-hub select {
    border: 1px solid #181818;
    background-color: #181818;
    color: #cacaca;
}

.porn-hub select:focus {
    color: #cacaca;
}

.porn-hub select option {
    color: #cacaca;
}

.porn-hub .btn:focus {
    box-shadow: none;
}

.porn-hub::-webkit-scrollbar {
    width: 8px;
}

.porn-hub::-webkit-scrollbar-track-piece {
    background-color: #363636;
}

.porn-hub::-webkit-scrollbar-thumb {
    background-color: #565656;
}

.porn-hub::-webkit-scrollbar-thumb:hover {
    background-color: #767676;
}

.porn-hub .tab {
    border-top: 1px solid #363636;
}

.porn-hub .options-container {
    background-color: #363636;
}