.porn-hub {
    background-color: #181818;
    color: #cacaca;
}

.porn-hub .btn {
    background-color: #F90;
    /*border: 2px solid #FFA31A;*/
}


.porn-hub .btn:focus{
    background-color: #e98a18;
}

.porn-hub .btn:hover{
    background-color: #e98a18;
}

.porn-hub .btn:active {
    /*box-shadow: 0 0 0 0.2rem #FFA31A;*/

    background-color: #BD8912;
}

.porn-hub .tab-button {
    color: #F90;
}

.porn-hub .tab-button:hover {
    color: #e98a18;
}

.porn-hub .box-button {
    color: #F90;
}

.porn-hub .box-button:hover {
    color: #e98a18;
}

.porn-hub .box-header {
    background-color: #363636;
    border-top: 1px solid #181818;
    border-radius: .25rem;
}

.porn-hub .boxes-controls {
    /*border-bottom: 1px solid black;*/
}

.porn-hub input[type="text"] {
    /*border: 1px solid black;*/
    /*border: 1px solid #181818;*/
    border: 1px solid #555;
    background-color: #181818;
    color: #cacaca;
}

.porn-hub input[type="text"]:focus {
    /*border: 1px solid #363636;*/
    background-color: #181818;
    color: #cacaca;
    border: 1px solid #555;
    box-shadow: 0 0 5px #555;
}

.porn-hub .modal-content {
    background-color: #181818;
    color: #cacaca;
}

.porn-hub .modal-footer {
    border-top: 1px solid #555;
}

.porn-hub select {
    border: 1px solid #181818;
    background-color: #181818;
    color: #cacaca;
}

.porn-hub select:focus {
    color: #cacaca;
}

.porn-hub select option {
    color: #cacaca;
}

.porn-hub .btn:focus {
    box-shadow: none;
}