.yandex {
}

.yandex #controls {
    background-color: #f1f1f1;
}

.yandex .btn {
    border-radius: 0;
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
}

.yandex .btn:focus {
    border: 2px solid #ffa812;
}

.yandex .btn:focus-within {
}

.yandex .btn:hover {
    background-color: #ffbf00;
    border: 2px solid #ffcf40;
}

.yandex .btn:active {
    border: 2px solid #ffbf00;
    background-color: #ffbf00;
}

.yandex .tab {
    border-bottom: 1px #ffcc00 solid;
}

.yandex .tab-button {
    color: #B3B3B3;
}

.yandex .tab-button:hover {
    color: #D4574B;
}

.yandex .box-button {
    color: #B3B3B3;
}

.yandex .box-button:hover {
    color: #D4574B;
}

.yandex .box-header {
    background-color: #E5E9F0;
    border-bottom: 1px #C2CBDC solid;
}

.yandex .boxes-controls {
    /*border-bottom: 1px solid black;*/
}

.yandex input[type="text"] {
    border: 1px solid #999;
}

.yandex input[type="text"]:focus {
    outline: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}

.yandex .modal-content {
    background-color: #f1f1f1;
    /*color: #cacaca;*/
}

.yandex .modal-footer {
    border-top: 1px solid #555;
}

.yandex select {
}

.yandex select:focus {
}

.yandex select option {
}

.yandex .btn:focus {
    box-shadow: none;
}

.yandex .options-container {
    background-color: #E5E9F0;
}

.yandex::-webkit-scrollbar {
    background-color: #f1f1f1;
    width: 8px;
}

.yandex::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 0;
    outline: 2px solid #565656;
    border: 1px #CCC solid;
}

.yandex::-webkit-scrollbar-thumb:hover {
    background-color: #919191;
}


