<div id="confirm-box-remove-modal" class="modal fade p-0" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row pl-2 pr-2">
                    <div id="confirm-box-remove-message"
                         class="col-12 text-center">
                        Are you sure want to remove the box:
                    </div>
                    <div id="box-name" class="col-12 text-center">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirm-box-remove-button" type="button"
                        class="btn" data-dismiss="modal">Remove
                </button>

                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancel
                </button>
            </div>
        </div>
    </div>
</div>