<div id="confirm-tab-remove-modal" class="modal fade p-0" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="layout vertical">
                    <div id="confirm-tab-remove-message"
                         class="text-center">
                        Are you sure want to remove the tab:
                    </div>
                    <div id="tab-title" class="text-center long-text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirm-tab-remove-button" type="button"
                        class="btn" data-dismiss="modal">Remove
                </button>

                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancel
                </button>
            </div>
        </div>
    </div>
</div>