<div id="edit-box-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row pl-2 pr-2">
                    <label for="box-name-input" class="col-2 m-0 ttt">name:</label>
                    <input id="box-name-input" type="text" class="form-control modal-text-input col-10"
                           value="Name" title="Box name"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save-edit-box-button" type="button" class="btn" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>