<div id="edit-tab-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row pl-2 pr-2">
                    <label for="tab-title-input"
                           class="col-2 m-0 vertical-center">title:</label>
                    <input id="tab-title-input" type="text"
                           class="form-control modal-text-input col-10"
                           value="Title" title="Tab title"/>
                </div>
                <div class="row pt-1 pl-2 pr-2">
                    <label for="tab-url-input" class="col-2 m-0
                    vertical-center">url:</label>
                    <input id="tab-url-input" type="text"
                           class="form-control modal-text-input col-10 pr-1"
                           value="Url" title="Tab title"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save-edit-tab-button" type="button"
                        class="btn" data-dismiss="modal">Save
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>