<div id="edit-tab-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="layout horizontal">
                    <div class="vertical-center field-name">Title:</div>
                    <input id="tab-title-input" type="text"
                           class="form-control modal-text-input"
                           value="Title" title="Tab title"/>
                </div>
                <div class="layout horizontal mt-2">
                    <div class="vertical-center field-name">Url:</div>
                    <input id="tab-url-input" type="text"
                           class="form-control modal-text-input"
                           value="Url" title="Tab url"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save-edit-tab-button" type="button"
                        class="btn" data-dismiss="modal">Save
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>