<!doctype html>

<div id="tab-{{id}}" class="layout horizontal pl-3 tab vertical-center">
    <div id="tab-icon-{{id}}" class="tab-favicon ml-1">
        {{#favIconUrl}}
        <img src="{{favIconUrl}}" title="{{title}}"/>
        {{/favIconUrl}}
    </div>

    <div id="tab-title-{{id}}" class="tab-title long-text ml-1"
         title="{{title}}">
        {{title}}
    </div>

    <div class="ml-1 mr-1 layout horizontal end">
        <div id="edit-tab-{{id}}" class="ml-1">
            <i class="fa fa-pencil tab-button" data-toggle="modal"
               data-target="#edit-tab-modal" title="Edit the tab"></i>
        </div>
        <div id="remove-tab-{{id}}" class="ml-1">
            <i class="fa fa-remove tab-button" title="Remove the tab"></i>
        </div>
    </div>
</div>