<!doctype html>

<div id="{{id}}" draggable="true">
    <div class="box row m-0">
        <div class="box-controls pl-1">
            <div id="add-to-box-button-{{id}}" class="h-100 ttt">
                <i class="fa fa-plus box-button"></i>
            </div>

            <div id="collapse-box-button-{{id}}" class="h-100 ttt" data-toggle="collapse"
                 data-target="#box-content-{{id}}">
                <i id="collapse-box-icon-{{id}}" class="fa fa-toggle-down box-button"></i>
            </div>

            <div id="rename-box-button-{{id}}" class="ttt h-100">
                <i class="fa fa-pencil box-button"></i>
            </div>
        </div>
        <div class="box-name p-0 pl-2 pr-1">
            <div id="switch-to-box-{{id}}" class="ttt">{{name}}</div>
            <input id="box-name-input-{{id}}" type="text" class="form-control" hidden
                   value="{{name}}" title="Tabs box name"/>
        </div>

        <div class="p-0 pr-1">
            <div id="remove-box-button-{{id}}" class="ttt h-100">
                <i class="fa fa-remove box-button"></i>
            </div>
        </div>
    </div>
    <!--<div id="box-content-{{id}}" class="box-content collapse connected">-->
    <div id="box-content-{{id}}" class="box-content collapse">
    </div>
</div>
