<!doctype html>

<div id="box-{{id}}" class="layout vertical box" draggable="true">
    <div class="box-header layout horizontal m-0 vertical-center">
        <div class="layout horizontal">
            <div id="add-to-box-button-{{id}}" class="ml-1">
                <i class="fa fa-plus box-button" title="Add tab to box"></i>
            </div>
            <div id="collapse-box-button-{{id}}" class="ml-1"
                 data-toggle="collapse" data-target="#box-content-{{id}}">
                <i id="collapse-box-icon-{{id}}"
                   class="fa fa-chevron-down box-button"></i>
            </div>
        </div>

        <div id="box-name-{{id}}"
             class="box-name long-text ml-1" title="{{name}}">
            {{name}}
        </div>

        <div class="layout horizontal ml-1 mr-1 end">
            <div>
                <div id="box-tabs-count-{{id}}" class="box-tabs-count">
                    [ {{getTabsCount}} ]
                </div>
            </div>

            <div id="toolbar-{{id}}" class="layout horizontal">
                <div id="open-all-tabs-button-{{id}}" class="pl-1 d-none">
                    <i class="fa fa-eject box-button"
                       title="Open all tabs from the box"></i>
                </div>
                <div id="close-all-tabs-button-{{id}}" class="pl-1 d-none">
                    <i class="fa fa-eject fa-rotate-180 box-button"
                       title="Close all tabs from the box"></i>
                </div>
                <div id="rename-box-button-{{id}}" class="pl-1 d-none">
                    <i class="fa fa-pencil box-button"
                       title="Rename the box"></i>
                </div>
                <div id="remove-box-button-{{id}}" class="pl-1 d-none">
                    <i class="fa fa-remove box-button"
                       title="Remove the box"></i>
                </div>
                <div id="show-toolbar-{{id}}" class="ml-1">
                    <i class="fa fa-gear box-button" title="Toolbar"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="box-content-{{id}}" class="box-content collapse">
    </div>
</div>
